// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

$fastTransitionDuration: 0.5s;
$baseTransitionDuration: 1.25s;
$slowTransitionDuration: 2s;

$baseGrey: #3d3d3d;
$hoverGrey: rgba( $baseGrey, 0.5 );
$white: #fff;
$markersColor: #ff0000;

$mixedMapModalIndex: 100;
$galleryControlsIndex: 1000;
$mixedMapIndex: 1001;
$mixedMapThumbIndex: 1002;

body {
  background: #fff;
  color: $baseGrey;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

video { object-fit: cover; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.mapboxgl-map { position: absolute!important; }

#logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 120px;
}
div#filtersContainer {
  position: absolute;
  top: 0;
  left: 200px;
  width: 500px;
  height: 19px;
  line-height: 15px;
  margin-top: 15px;

  a {
    font-size: 12px;
    padding: 4px 7px;
    text-decoration: none;
    margin-right: 15px;
    color: $white;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 

    span.remove-filter {
      width: 14px;
      height: 14px;
      display: inline-block;
      text-align: center;
      margin-right: 5px;
      top: 3px;
      position: relative;

      svg {
        circle.inner-circle { visibility: hidden; }
        circle.inner-circle.on { visibility: visible; }
      }
    }
  }
}

/* Style the Sequence container */
#timeline {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

/* Reset */
#timeline .seq-canvas,
#timeline .seq-canvas > * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make the canvas the same dimensions as the container and prevent lines from
   wrapping so each step can sit side-by-side */
#timeline .seq-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  // white-space: nowrap;
  font-size: 0;
}

/* Make the steps the same size as the container and sit side-by-side */
#timeline .seq-canvas > * {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  // white-space: normal;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Used to vertically center align the .content element */
#timeline .seq-canvas > li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* Vertically center align the .content element */
#timeline .content {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4%;
  font-size: 16px;
  // min-width: 50%;
  max-width: 320px;
  pointer-events: none;

  a, button { pointer-events: auto; }
}

p.caption { position: absolute; }

footer#footer {
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255,255,255,0);
}

// #svgLogo { fill: blue; }

/***************/
/* BACKGROUNDS */
/***************/

.videoBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  &.hide-out { opacity: 0; }
}

.emptyBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  &.hide-out { opacity: 0; }
}

.imageBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  &.hide-out { opacity: 0; }
}

.gallerySlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  div.img-container {
    position: absolute;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    &.fade-out { opacity: 0; }
  }

  &.hide-out { opacity: 0; }
}

.mixedSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  div.mixed-container {
    display: block;
    position: absolute;
    height:100%;
    width: 100%;
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    &.fade-out { 
      opacity: 0;
    }
  }

  div.map-mixed-container, {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 1;
    // z-index: $mixedMapIndex;

    -webkit-transition-duration: $baseTransitionDuration;
    transition-duration: $baseTransitionDuration;

    &.hide-out { 
      opacity: 0; 
    }

    &.visible { top: 0; }
  }

  &.hide-out { opacity: 0; }
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;

  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;

  &.hide-out { opacity: 0; }
}

/**************/
/*     UI     */
/**************/

#paginationContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  list-style-type: none;
  height: 100%;
  overflow: hidden;
  // overflow-y: scroll;
  margin: 0;
  z-index: 1;
  // background: rgba(255,255,255,.95);
}
#paginationContainer li {
  font-weight: 600;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 50px;

  // &.seq-current { color: rgba(204, 0, 0, 0.75); }

  ul {
    display: none;
    height: 0;
    list-style-type: none;
    padding: 0 0 0 0px;

    &.expanded {
      display: block;
      height: initial;
    }

    li{ 
      font-size: 16px;
      margin-bottom: initial;
    }
  }
}
#paginationContainer li:hover { color: $hoverGrey; cursor: pointer; }

#videoControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  #closeVideoPlayer {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: url(../images/close-video.svg) no-repeat transparent;

    &:hover {
      background-color: $hoverGrey;
      cursor: pointer;
    }
  }

  #controlsBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: rgba( $baseGrey, 0.5 );

    .videoBtn {
      position: absolute;
      left: 0;
      width: 10vw;
      height: 100%;
    }

    #play { 
      background: url(../images/play.svg) no-repeat transparent; 
      background-position: 85% 0;
      display: none;

      &:hover {
        cursor: pointer;
        background-position: 85% -40px;
      }
    }

    #pause { 
      background: url(../images/pause.svg) no-repeat transparent; 
      background-position: 85% 0;

      &:hover {
        cursor: pointer;
        background-position: 85% -40px;
      }
    }

    #progress {
      position: absolute;
      left: 10vw;
      width: 80vw;

      #progressBar {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 21px;
        background-color: $white;
      }
      #progressCursor {
        position: absolute;
        width: 10px;
        height: 1px;
        top: 21px;
        background-color: $baseGrey;
      }
    }

    #toggleFullScreen {
      display: none;
      position: absolute;
      right: 0;
      width: 10vw;
      height: 100%;
      background: url(../images/go-fullscreen.svg) no-repeat transparent;
      background-position: 15% 0;

      &:hover {
        cursor: pointer;
        background-position: 15% -40px;
      }
    }
  }
}

#galleryControls {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: rgba($baseGrey, 0.75);
  display: none;
  // z-index: $galleryControlsIndex;

  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    width: 100px;
    margin: 0 auto;

    li {
      float: left;

      a.slide-control {
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        line-height: 40px;
        width: 50px;
        color: $white;
        text-decoration: none;

        &:hover {
          color: $hoverGrey;
        }
      }
    }
  }
}

.seq-preload-indicator g,
.seq-preload-circle { fill: $baseGrey !important; }

div.marker {
  width: 35px;
  height: 50px;
  margin-top: -50px;
  margin-left: -17.5px;

  span {
    white-space: nowrap;
  }
}

div.mixedMapModal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: pink;
  z-index: $mixedMapModalIndex;

  div.mixedSlideMap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: grey;
  }
}

div.map-thumbs-container {
  position: absolute;
  bottom: 100px;
  left: 30px;
  height: 100px;
  // z-index: $mixedMapThumbIndex;

  div.map-thumb {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    
    -webkit-box-shadow: 1px 1px 60px 15px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 60px 15px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 60px 15px rgba(0,0,0,0.35);

    div.map-thumb-hover {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 100px;
      left: 0;
      opacity: 0;
      background: url(../images/togglemapicon.svg) no-repeat $baseGrey;
      background-position: 0 0;

      transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
      -webkit-transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
      -moz-transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
      -o-transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

      &.hide { background-position: 0 -100px; }
    }

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;

      div.map-thumb-hover { 
        top: 0; 
        opacity: 1;
      }
    }
  }
}

/**************/
/* ANIMATIONS */
/**************/

/* Starting positions */
#timeline h2,
#timeline h3,
#timeline p,
#timeline div.content button,
#timeline div.content ul {
  opacity: 0;
  -webkit-transition-duration: $fastTransitionDuration;
  transition-duration: $fastTransitionDuration;
}

#timeline h2 {
  -webkit-transform: translate(0, -120px);
  transform: translate(0, -120px);
  margin: 0;
}
#timeline h3 {
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition-duration: $baseTransitionDuration;
  transition-duration: $baseTransitionDuration;
  margin: 0;
}
#timeline p {
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition-duration: $slowTransitionDuration;
  transition-duration: $slowTransitionDuration;
  // max-width: 50%;
  margin: auto;

  font-size: 18px;
}
#timeline div.content button {
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition-duration: $fastTransitionDuration;
  transition-duration: $fastTransitionDuration;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 2px;
  color: $baseGrey;
  border: 1px solid $baseGrey;
  padding: 10px 30px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;

  &:hover {
    background-color: $baseGrey;
    color: $white;
    cursor: pointer;
  }
  &:focus { outline: none; }
}
#timeline div.content ul {
  -webkit-transform: translate(0, 60px);
  transform: translate(0, 60px);
  -webkit-transition-duration: $slowTransitionDuration;
  transition-duration: $slowTransitionDuration;
  margin: auto;
  margin-top: 15px;

  list-style-type: none;
  padding: 0;

  li {
    a {
      display: inline-block;
      min-width: 200px;
      margin-top: 10px;
      color: $baseGrey;
      text-decoration: none;
      padding: 4px 7px;
      border: 1px solid $baseGrey;
      border-radius: 2px;

      -webkit-transition-duration: $fastTransitionDuration;
      transition-duration: $fastTransitionDuration;

      &:hover {
        background-color: $baseGrey;
        color: $white;
      }
    }
  }
}

/* Animate in positions for content */
#timeline .seq-in h2,
#timeline .seq-in h3,
#timeline .seq-in p,
#timeline .seq-in div.content button,
#timeline .seq-in div.content ul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Animate out positions for content */
#timeline .seq-out h2,
#timeline .seq-out h3,
#timeline .seq-out p,
#timeline .seq-out div.content button
#timeline .seq-out div.content ul {
  opacity: 0;
  -webkit-transform: translate(1, 1);
  transform: translate(1, 1);
}